 html, body {
    height: 100%;
    width: 100%;
}

body {
  background-color: #fff;
  min-width:480px;
  color:#555;
  line-height:140%;
  margin:0;
  padding:0 0 0 0;
  font-family: Arial, sans-serif;
  font-size:16px;
  -webkit-font-smoothing: antialiased;
  
  }
  
.highlight-python {
  overflow: auto;
}

a {
  color:#002697;
  transition: all 0.5s;
  text-decoration: none;
}

a:hover {
  color:#cd5b00;
}
  
.global_navigation{
  z-index:1;
  position:relative;
  background-color: #666;
  font-weight: normal;
  padding:0;
  margin:0;
  font-size: 0.7em;
  text-transform:uppercase;
  height:2em;
  letter-spacing:0.8px;
  border-bottom: 2px solid #ccc;
  min-width:480px;
}
.global_navigation ul{
  padding: 0em 0em 0em 1em;
  margin:0;
}
.global_navigation li{
  margin: 0em 0.7em 0em 0.7em;
  display: inline;
}
.global_navigation a{
  color: #CCC;
}
.global_navigation a:hover{
  color:#FFF;
}

.global_navigation .current_site_item a{
  color:#FFF;
}

header h1{
  font-weight:normal;
}

header{
  background-image:url(static/header.png);
  background-repeat:no-repeat;
  background-position:right top;
  padding: 0 16px;
  margin: 0 auto;
  min-width:480px;
  width:85%;
  position:relative;
  z-index:0.5;
  box-shadow:0 0 4px #666;
}
header h1{
  margin: 0;
  padding: 24px 0px 24px 16px;
}

.body{
  position:relative;
  background-color: #fff;
/*  height:1024px;*/
}

.page_nav a{
  color:#555;
  display:block;
}

.page_nav a:hover{
  color:#cd5b00;
}


.page_nav a:after{
  display:block;
  content:"";
  height:0px;
  margin-top:-3px;
  border:2px solid #eee;
  border-radius:2px;
  transition: all 0.5s;
}


.page_nav li.current > a:after{
  border:2px solid #002697 !important;
}

.page_nav li:hover > a + ul{
  display: block;
  visibility:visible;
  opacity:1;
}

.page_nav li:hover > a:after{
  border:2px solid #cd5b00;
}

/*
================================================================
                         HORIZONTAL_MENU
================================================================
*/

.horizontal_nav{
  background-color: #eee;
  box-shadow:0 0 4px #666;
  position:relative;
  z-index:1;
}

.horizontal_nav > ul{
  height: 32px;
  padding: 0;
  min-width:480px;
  margin: 0 auto;
  width:85%;
}

.horizontal_nav > ul > li{
  display: block;
  float:left;
  margin:4px 8px;
}

.horizontal_nav > ul > li > ul{
  display:block;
  position:absolute;
  background-color:#eee;
  visibility:hidden;
  opacity:0;
  transition: all 0.5s;
  padding:8px;
  border-radius:4px;
  box-shadow:0 1px 4px #666;
}

.horizontal_nav > ul > li > ul > li{
  display: block;
}


/*
================================================================
                         VERTICAL_MENU
================================================================
*/

.vertical_nav{
  margin: 0 0 32px 32px;
  background-color: #eee;
  width: 25%;
  box-shadow:0 0 4px #666;
  float:right;
  transition: all 0.5s;
}

.vertical_nav > ul{
  padding: 8px;
  margin: 0px;
}

.vertical_nav > ul > li > a:before{
    content:"-";
    margin-right: 4px;
}
.vertical_nav > ul > li{
  margin-top: 8px;
 display: block;
}

.vertical_nav > ul > li > a{
  border-radius:4px;
  width:100%;
}

.vertical_nav > ul > li > ul{
  width: calc(25% - 40px);
  background-color:#eee;
  position:absolute;
  display:none;
  visibility:hidden;
  opacity:0;
  font-size:75%;
  transition: all 0.5s;
  padding:8px;
  border-radius:4px;
  box-shadow:0 1px 4px #666;
}

.vertical_nav > ul > li > ul > li{
  display: block;
}

.vertical_nav > ul > li > ul > li > a{
  color:#777;
  display: block;
  border-radius:4px;
}

.vertical_nav > p{
  color:#002697;
  padding: 8px;
  margin: 0px;
}




main{
  padding: 0px 16px;
  margin: 0 auto;
  min-width:480px;
  width:85%;
  position:relative;
  z-index:0.5;
  box-shadow:0 0 4px #666;
}

.section a{
  text-decoration:underline;
}

.section{
  padding: 16px 0px 16px 16px;
}
p {
  line-height:150%;
}

.section h1 {
  margin:0;
  padding:32px 0 8px 0;
  padding-top:32px;
  text-align:center;
  color:#002697;
  overflow:hidden;
}

.section h2 {
  margin:0;
  padding:32px 0 8px 0;
  font-size:32px;
  text-align:left;
  border-bottom:1px solid #002697;
  font-weight:normal;
  color:#002697;
  overflow:hidden;
}
.section h3 {
  margin:0;
  padding:32px 0 8px 0;
  font-size:24px;
  text-align:left;
  border-bottom:1px solid #002697;
  font-weight:normal;
  overflow:hidden;
}

.headerlink{
    display:none;
}

footer{
  margin-top:32px;
  text-align:center;
  font-size:75%;
}

.prevnext{
  text-align:center;
  margin: 0 auto;
  min-width:480px;
  width:85%;
}
table
{
    background: #fff;
    margin: 45px;
    border-collapse: collapse;
    text-align: left;
}
table th
{
    color: #3465a4;
    padding: 10px 8px;
    border-bottom: 2px solid #aaa;
}
table td
{
    border-bottom: 1px solid #ccc;
    color: #666;
    padding: 6px 8px;
}
table tbody tr:hover td

